@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signature-pad-wrapper {
  @apply w-full h-auto;
}

.header {
  @apply text-3xl font-medium font-sans mb-16; 
}

.signature-pad {
  @apply w-4/5 md:w-4/5 lg:w-2/5 h-40 mx-auto rounded-2xl shadow-2xl mb-8;
}

.sign-button {
  @apply bg-blue-500 text-white text-2xl rounded-md py-3 px-12;
}

.signature-data-wrapper {
  @apply w-full h-auto mt-10 flex flex-col justify-evenly gap-y-6 px-5 md:px-10 lg:px-20;
}

.signature-data-wrapper div {
  @apply w-full h-60 bg-white text-black text-left rounded shadow p-2 break-words overflow-y-scroll;
}
